<h1 mat-dialog-title>User List</h1>
<div mat-dialog-content>
  <div>
    <div *ngFor="let user of users" class="mb-4">
      <a
        class="flex items-center p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 w-full">
        <img [src]="user.avatarUrl" alt="{{user.name}}'s avatar" class="w-10 h-10 rounded-full mr-3">
        <div class="flex-1">
          <h5 class="text-sm font-bold tracking-tight text-gray-900 dark:text-white break-words">
            {{user.name ? user.name : user.company_name}}
          </h5>

        </div>
        <button class="text-white bg-blue-600 p-2" (click)="sendMessageReq(user.id)">Send Request</button>
      </a>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div>
