<div class="wrapper">
  <div
    class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 min-w-[30rem]">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">User List</h3>
      <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500" mat-button
        [mat-dialog-close]="true">
        Close
      </a>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-3 sm:py-4" *ngFor="let user of users">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0">
              <img class="w-8 h-8 rounded-full" [src]="apiService.getUserImage(user)"
                alt="{{user.name}}'s avatar">
            </div>
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                {{user.name ? user.name : user.company_name}}
              </p>

            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              <button
                class="ml-4 px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                (click)="sendMessageReq(user)">Send Request</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
