<div class="mb-6">
  <div class="max-w-md p-2 bg-white rounded-lg border shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-2 cursor-pointer" *ngFor="let user of usersList"
          [ngClass]="{'bg-gray-100 dark:bg-gray-700': user.id === selectedUser?.id}" (click)="onUserSelect(user)">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0 relative">
              <img class="w-8 h-8 rounded-full" [src]="apiService.getUserImage(user)" alt="{{user.name}}'s avatar">
              <div class="w-2 h-2 rounded-full mr-2 avatar"
                [ngClass]="{ 'bg-green-500': user.is_online, 'bg-red-600': !user.is_online }">
              </div>
            </div>
            <div class="flex-1 min-w-0">
              <h5 class="text-base font-bold text-gray-900 dark:text-white truncate">
                {{ user.name ? user.name : user.company_name }}
              </h5>
              <div class="text-sm text-gray-500 dark:text-gray-400 truncate">
                {{user.last_message}}
              </div>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              <button
                class="text-xs font-bold text-white bg-red-500 rounded-full w-5 h-5 flex items-center justify-center shadow-lg">
                {{ user.unread_count }}
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
